body { 
  margin:0; 
}

.fixed-nav-wrapper {
  background-color: #545652;
  

}
.fixed-nav-bar {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  height: 40px;
  overflow: hidden;
}

.fixed-nav-bar a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.fixed-nav-bar a:hover {
  background-color: #ddd;
  color: black;
}

.fixed-nav-bar a.active {
  background-color: #83BF73;
  color: white;
}

